.header__logo {
    max-width: 142px;
    padding-bottom: 41px;
}

@media (min-width: 768px) and (max-width: 900px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .header__logo {
        width: 104px;
        margin-left: 27px;
        padding-bottom: 32px;
    }
}