.popup__set {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 48px;
    padding: 0;
    border: none;
    gap: 30px;
}

@media (max-width: 767px) {
    .popup__set {
        margin: 0px 0px 45px;
    }
}